
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <h2 id="filter"><span class="ion-ios-color-filter"></span> Filter</h2>
          <br><br>
          <h5 >Lanague</h5>
          <select class="selectpicker">
          <option>English</option>
          <option>French</option>
          <option>Japense</option>
          </select>
          <br><br>
          <h5 >Followers</h5>
          <select class="selectpicker">
          <option>0-150</option>
          <option>150-1000</option>
          <option>1000+</option>
          </select>
          <br><br>
          <h5 >Location</h5>
          <select class="selectpicker">
          <option>Canada</option>
          <option>America</option>
          </select>
          <br><br>
          <br><br>
          <h2 id="sort"> Sorted by</h2>
          <br><br>
          <select class="selectpicker">
          <option>Followers: from low to high</option>
          <option>Followers: from high to low</option>
          <option>Friends: from low to high</option>
          <option>Friends: from high to low</option>
          <option>Create Time: from early to late</option>
          <option>Create Time: from late to early</option>
          </select>

            <br><br>
            <br><br>
            <br><br>
          <button type="button" class="btn btn-primary btn-lg btn-block">Apply Changes</button>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 ><span class="ion-monitor"></span> Twitter Monitor</h2>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Artist list</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="artistlist">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Followers</th>
                  <th>Growth</th>
                  <th>Contact Information</th>
                </tr>
              </thead>
              <tbody>
                <div *ngFor="let user of users">
                  <td> {{user.name}} </td>
                  <td> {{user.name}} </td>
                  <td> {{user.name}} </td>
                  <td> {{user.name}} </td>
                  <td> {{user.name}} </td>
                </div>
              </tbody>
            </table>
          </div>

          <h2 class="sub-header">Interesting tweets</h2>
          <div class="table-responsive">
            <table class="table table-striped" id="tweets">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tweets Texts</th>
                  <th>By Who</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
