.profile {
  background-color: white;
  /*border-radius: 5px;*/
}
 a {
   color: #666666;
 }

 body {
    background-color: #fff;
}
.container{
  background-color: #fff;
  border-radius: 12px;
  height: 100%;

}

.form-control{
  width: 75%;
}
