<div class="eventinfo-big">
<br/>
<br/>
<!-- <h3 id="eventinfotitle" align="center"><span class="ion-edit"></span> Event Info</h3> -->
<br/>
<div class="eventinfo container">
  <h3 id="eventinfotitle" align="center"><span class="ion-edit"></span> Event Info</h3>
  <br/>
  <form (ngSubmit)="submit()">
    <label for="company">Number of people attending with you including yourself</label>
    <select id="company" name="company" class="custom-select d-block my-3" (change)="peopleAttend($event.target.value)" required>
      <option value="">Select</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <label for="owner">Do you have a vehicle?</label>
    <select id="owner" name="owner" class="custom-select d-block my-3" (change)="haveVehicle($event.target.value)"required>
      <option value="">Select</option>
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
    <div *ngIf="hasVehicle">
      <label for="carpool" *ngIf="hasVehicle">Number of seats willing to carpool</label>
      <select id="carpool" name="carpool" class="custom-select d-block my-3" (change)="seatsAvailable($event.target.value)" required>
        <option value="">Select</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>

    <div class="form-group">
      <label for="note">Special Note</label>
      <textarea class="form-control" id="note" rows="5"></textarea>
    </div>
    <div *ngIf="!checkRequired" class="alert alert-danger" role="alert">
      Please enter all required field.
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
</div>
