.home{
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

#greetingmsg {
  font-size: 60px;
  text-align: center;
}

#greetingmsg {
  margin: 0;
  padding: 20px 0;
  color: white;
  text-shadow: 3px 3px 1px black;
}

#logo {
  display: block;
  margin: 0 auto;
}

.home.container{
  background-color: #fff;
}

.homebackground{
	background-color: #fff;
}

.groupinfo{
	color: white;
	font-size: 18px;
	text-align: center;
}
