<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
  <img class="navbar-brand" src="../assets/smalllogonav.png" alt="logo" height="45" width="35"/>
  <a class="navbar-brand" href="/home">LeadGen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="ion-navicon-round"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link home" (click)="home_click()"><span class="ion-android-home"></span> About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="events_click()"><span class="ion-social-twitter"></span> Twitter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="artist_click()"><span class="ion-ios-musical-notes"></span> SoundCloud</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="events_click()"><span class="ion-social-youtube"></span> Youtube</a>
      </li>
    </ul>
    <div *ngIf="!current_user">
      <ul class="navbar-nav navbar-right">
        <li class="nav-item" id='sign_nav'>
          <a class="nav-link" (click)='signup_click()'><span class="ion-android-person-add"></span> Sign Up</a>
        </li>
        <li class="nav-item" id='log_nav'>
          <a class="nav-link" (click)='login_click()'><span class="ion-log-in"></span> Log In</a>
        </li>
      </ul>
    </div>
    <div *ngIf="current_user">

        <ul class="navbar-nav navbar-right">
          <li class="nav-item" id='sign_nav'>
            <a class="nav-link" (click)='profile_click()'><span class="ion-android-person-add"></span > {{current_user}}</a>
          </li>
          <li class="nav-item" id='log_nav'>
            <a class="nav-link" (click)='LogoutUser()'><span class="ion-log-in"></span> Log out</a>
          </li>
        </ul>

    </div>
  </div>
</nav>
<span class="message" *ngIf="showMessage">
  {{message.message}}<span (click)="closeMessage()" class="ion-ios-close-outline"></span>
</span>


<router-outlet></router-outlet>
<!-- [src]="../assests/smalllogonav.jpg" -->
